<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/styles.css" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Space+Grotesk:wght@500;700&display=swap" rel="stylesheet">
  </head>
  <body>

<body>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

  <main>
    <article>
      <h2 class="post-title">{{ title }}</h2>
  
{% if date %}
  <p class="post-date">{{ date | date("MMMM d, yyyy") }}</p>
{% endif %}

      <div class="post-content">
        {{ content | safe }}
      </div>


    </article>
  </main>

  <footer>
    <p>© Ross Breadmore · 
    <a href="/faq/">FAQ</a>
      <a href="https://www.linkedin.com/in/rossbreadmore/" target="_blank">LinkedIn</a> · 
      <a href="https://github.com/rossbreadmore" target="_blank">GitHub</a>
    </p>
  </footer>
</body>
</html>
