<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <article>
    <h1>{{ title }}</h1>
    {{ content | safe }}
  </article>
</body>
</html>

<p>
  Follow me on 
  <a href="{{ social.twitter }}">Twitter</a> and 
  <a href="{{ social.github }}">GitHub</a>
</p>
